<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="presentation.css")}}">
    <title>{{title}}</title>
  </head>
  <body>
{% block content %} {% endblock %}
  </body>
</html>
