{% extends "layout.html" %}
{% block content %}
<h1>Log in to {{ blog.name }}</h1>
<form method="post" action="{{ url_for("login", blog=blog.short_name) }}">
  {% if authorized %}
  You're already logged in.
  {% endif %}
<p>
  <strong>Password:</strong>
  <input type="password" name="password" size="20" maxlength="20" value="">
  <input type="submit" value="Login">
</p>
</form>
{% endblock %}
