<div class="entry">
  <p>
    <a href="{{ url_for('permalink', blog=blog, identifier=post.id) }}"><img src="{{url_for('static', filename='entry.jpg')}}" alt="Permalink"></a>
    
    {% if post.comments %}
    <a href="{{ url_for('permalink', blog=blog, identifier=post.id) }}#comments"><img src="{{url_for("static", filename="comments.png")}}" alt="{{post.how_many_comments}}"></a>
    {% endif %}

    <a name="%i" class="entryDate">{{ post.created }}</a>:
    {{post.title or ""|safe}}
   <span class="entry-text">{{ post.content|safe }}</span>

   {% for tag in post.tags %}
    <a href="{{url_for("posts_for_tag", blog=blog, tag=tag.name)}}">{{tag.name}}</a>
   {% endfor %}

</div>
